<ul class="note-list">
  {% for link in linkslist | reverse %}
    <li class="note-list__item">
      <a href="{{ link.data.link }}">{{ link.data.link }}</a>
      {{ link.content | safe }}
    </li>
  {% endfor %}
</ul>
