---
title: Just Some Stuff
layout: layouts/home.njk
description: Just my place to share stuff.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

{% set post = collections.posts | reverse | first %}
<h2>
  <a href="{{ post.url | url }}">
    {% if post.data.title %}
      {{ post.data.title }}
    {% else %}
      <code>{{ post.url }}</code>
    {% endif %}
  </a>
</h2>
<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
{{ post.content | safe }}

<div id="posts">
  <h3>Posts</h3>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
