---js
const eleventyNavigation = {
			key: "Links",
			order: 4
};
---
<h1>Links and Bookmarks</h1>

<p>Here be bookmarks and links that I find neato!</p>

{% set links = collections.links %}
{% include "linkslist.njk" %}
