{# If not on the "archive" page, only show 10 posts
{% if page.url !== "/posts/" %}
  {% set postslist = collections.posts.slice(1,11) %}
{% else %}
  {% set postslist = collections.posts %}
{% endif %}
#}

<ul>
{% for post in postslist %}
  <li>
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ul>
