---
layout: base.njk
---

<h1>Some photos that I've taken</h1>
<p>These are from my pixelfed.social account</p>

<div class="photos">
    <div class="photos__content">
        <ul>
            {% for entry in pixelfed %}
                <li class="photos__photo">
                    <time datetime="{{ entry.date | isoDateToHtmlString }}">
                        {{ entry.date | isoDateToReadable }}
                    </time>
                    {{ entry.img | safe }}
                    {{ entry.p | safe }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
