<p>
	<a href="https://social.lol/@swrogers">Mastodon (social.lol)</a>
      |
	<a href="https://social.targaryen.house/@swrogers">Mastodon (targaryen house)</a>
      |
    <a href="/feed/feed.xml">RSS Feed</a>
</p>
