---
layout: layouts/base.njk
---
<h1>📷 {{ title }}</h1>

<div class="post-metadata">
        <p>📅 Posted on: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
        <p>
         🏷️ Tagged with:
        {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
        {%- endfor %}
        </p>
</div>

<style>
article picture img {width: 100%; height: 100%;}
</style>

<article>
    {{ content | safe }}
</article>
